"*":
  "autocomplete-python":
    useKite: false
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "vim-mode-plus"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "zenburn"
    ]
  editor:
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "b0037d77-cd8e-4a78-a102-de09ea3d2b3b"
  "one-dark-ui":
    fontSize: 14
  "vim-mode-plus":
    notifiedCoffeeScriptNoLongerSupportedToExtendVMP: true
  welcome:
    showOnStartup: false
